.example-container {
	display: flex;
	flex-direction: column;
}
.example-full-width {
	width: 100%;
}

.example-header-image {
	background-size: cover;
}

input[type="file"] {
	visibility: hidden;
}

.image-preview {
	height: 5rem;
	margin: 1rem 0;
}

.image-preview img {
	height: 100%;
}
