.example-container {
	display: flex;
	flex-direction: column;
}
.example-full-width {
	width: 100%;
}

.example-header-image {
	
	background-size: cover;
}
.imageArea {
	cursor: pointer;
}

input[type="file"] {
	visibility: hidden;
}
